@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.navbar-nav {
    margin-left: auto;
    margin-top: 1vh;
    color: white;
    font-size: 17px;
    padding: 7px 12px;
    /* text-transform: uppercase; */
}

a #t1 {
    font-family: 'Poppins', sans-serif;

}

a#a1 {
    margin-left: 1vh;
}

a#a2 {
    margin-right: 2vh;
}

a#a3 {
    margin-right: 2vh;
}

a#a4 {
    margin-right: 2vh;
}

a:hover {
    background: #e2ddb1;
    transition: 0.5s;
    border: 0.5px rgb(212, 188, 188) ridge;
    border-radius: 1vh;
}