<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templating</title>
</head>

<body>
    <h1>Templating</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla voluptatibus distinctio laboriosam ab iusto
        laudantium, vitae rem, beatae natus impedit labore? Id ipsum corrupti cumque quidem magnam dolorem numquam
        provident!
        Inventore nesciunt totam quia nostrum perferendis incidunt similique adipisci, ducimus modi magni iste, aliquid
        dicta et ipsum hic quasi suscipit alias explicabo, magnam eos nisi corrupti expedita repudiandae. Hic, cum!</p>
</body>

</html>